<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="sk.qats.sut.logger">

  <properties>
    <property name="datePostfix">%d{yyyyMMdd-HHmm}</property>
  </properties>

  <Appenders>

    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %c{1.}:%L - %msg%n"/>
    </Console>

  </Appenders>

  <Loggers>
    <Root additivity="false" level="debug">
      <AppenderRef ref="console"/>
    </Root>

    <Logger level="debug" name="com.codeborne">
      <AppenderRef ref="console"/>
    </Logger>
  </Loggers>
</Configuration>
